<hr>
<p><font color='crimson'><h1 align="center">Allez plus loin dans la prédiction de loyer</h1></font><a
                                                                                                 href="https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-python-pour-la-datascience/exercises/3040#/step1">Lien vers l'énoncé.</a>
    
<a href="https://static.oc-static.com/prod/courses/files/initiez-vous-au-machine-learning/house_data.csv">Télécharger le dataset.</a></p>

<h2><font color='palevioletred'>Notre mission</font></h2>
-une séparation en training / testing set

-2 propositions d'amélioration du modèle qui obtiennent de meilleures performances que la "baseline" (la régression linéaire avec une seule feature)

-Une sélection d'un modèle final à partir des performances

<h2><font color='palevioletred'>Solution proposée</font></h2>

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data=pd.read_csv("C:/Users/ASUS/Desktop/house_data.csv")
data.head(10)

   price  surface  arrondissement
0   1820     46.1             1.0
1   1750     41.0             1.0
2   1900     55.0             1.0
3   1950     46.0             1.0
4   1950     49.0             1.0
5   1960     67.0             1.0
6   2000     35.0             1.0
7   1900     90.6             1.0
8   2050     60.0             1.0
9   2100     47.0             1.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 827 entries, 0 to 826
Data columns (total 3 columns):
price             827 non-null int64
surface           822 non-null float64
arrondissement    822 non-null float64
dtypes: float64(2), int64(1)
memory usage: 19.5 KB

In [4]:
#np.where(np.isnan(data))
data.isnull().sum()

price             0
surface           5
arrondissement    5
dtype: int64

On voit qu'il existent des Nans dans notre dataset. On va ainsi supprimer tous les lignes ayant des données manquantes.

In [5]:
data=data.dropna()
np.where(np.isnan(data))
data.isnull().sum()

price             0
surface           0
arrondissement    0
dtype: int64

On ajoute ici le codage de l'arrondissement gràce au méthode : One-hot encoding

In [6]:
data.arrondissement.unique()
c1=[1 if i==1.0 else 0 for i in data.arrondissement]
c2=[1 if i==2.0 else 0 for i in data.arrondissement]
c3=[1 if i==3.0 else 0 for i in data.arrondissement]
c4=[1 if i==4.0 else 0 for i in data.arrondissement]
c10=[1 if i==10.0 else 0 for i in data.arrondissement]
data["1.0"]=c1
data["2.0"]=c2
data["3.0"]=c3
data["4.0"]=c4
data["10.0"]=c10
data.head()

#NB : Cette étape peut se faire plus facilement gràce à get_dummies :
#arrondissement = pd.get_dummies(data=data['arrondissement'])
#data = pd.concat([data, arrondissement], axis=1)

   price  surface  arrondissement  1.0  2.0  3.0  4.0  10.0
0   1820     46.1             1.0    1    0    0    0     0
1   1750     41.0             1.0    1    0    0    0     0
2   1900     55.0             1.0    1    0    0    0     0
3   1950     46.0             1.0    1    0    0    0     0
4   1950     49.0             1.0    1    0    0    0     0

<h3><font color='indigo'>Séparation en training / testing set</font></h3>

In [7]:
X=data.iloc[:,1:]
y=data.price
#Séparation en training / testing set
X_train, X_test, y_train, y_test = train_test_split(X, y)

<h3><font color='indigo'>Première Essaie</font></h3>

In [8]:
X1_train=X_train[['surface']]
X1_test=X_test[['surface']]

In [9]:
# Regression linéaire
Linreg1=LinearRegression().fit(X1_train,y_train)
erreur1=1-Linreg1.score(X1_test,y_test)
print("L'erreur   :   ", f'{100*erreur1:.2f}%')

L'erreur   :    43.65%

<h3><font color='indigo'>Première Amélioration : Ajouter de la caractéristique "Arrondissement"</font></h3>

In [10]:
X2_train=X_train[['surface','arrondissement']]
X2_test=X_test[['surface','arrondissement']]

In [11]:
Linreg2=LinearRegression().fit(X2_train,y_train)
erreur2=1-Linreg2.score(X2_test,y_test)
print("L'erreur   :   ",  f'{100*erreur2:.2f}%')

L'erreur   :    42.93%

<h3><font color='indigo'>Deuxième Amélioration : Codage du l'arrondissement à l'aide du "One-hot encoding"</font></h3>

In [12]:
X3_train=X_train[['surface','1.0','2.0','3.0','4.0','10.0']]
X3_test=X_test[['surface','1.0','2.0','3.0','4.0','10.0']]

In [13]:
Linreg3=LinearRegression().fit(X3_train,y_train)
erreur3=1-Linreg3.score(X3_test,y_test)
print("L'erreur   :   ",  f'{100*erreur3:.2f}%')

L'erreur   :    42.74%

<h3><font color='indigo'>Discussion des résultats et Conclusion</font></h3>

In [14]:
print(f'L\'erreur est:\n\
-de {100*erreur1:.2f}% avec une seule feature (surface)\n\
-de {100*erreur2:.2f}% en ajoutant l\'arrondissement\n\
-de {100*erreur3:.2f}% en encodant l\'arrondissement\n')

err=[erreur1,erreur2,erreur3]
mod=["premier modéle","deuxiéme modéle","troisiéme modéle"]
print("Ainsie le modéle choisie est le" , mod[err.index(min(err))])

L'erreur est:
-de 43.65% avec une seule feature (surface)
-de 42.93% en ajoutant l'arrondissement
-de 42.74% en encodant l'arrondissement

Ainsie le modéle choisie est le troisiéme modéle